@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

:root{

    /*fonts*/
    
    --font-outfit: 'Outfit', sans-serif;

    --font-leckerli: 'Leckerli One', cursive;

    /*colors*/

    --color-orange: #EF946C;
    --color-blue: #8BE8CB;
    --color-grey: #B7B7B7;

    
}